<div class="home-container">
    <div class="home-content centered">
        <div class="home-text">
            <p>You don't have any upcoming event</p>
            <p>Click to <a href="events/new">create a new event</a> or <a href="events/search">search events</a></p>
        </div>
    </div>
</div>


