<div class="centered padd-it">
  <h1 class="title"> Personal information </h1>
  <div class="form-group col-centered col-xs-6 col-md-4">
    <img id="preview" src="<%= user.picturePath %>">
  </div>
  <div class="sub-title padd-it">Username:</div> 
  <p><%= user.username %></p>
  <div class="sub-title padd-it">Address:</div> 
  <p><%= user.address %></p>
</div>

