<h2> Your user </h2>

  <ul class="form-group col-sm-4 centered">
    <li class="form-control"> Username: <%= user.username %> </li>
    <li class="form-control"> Name: <%= user.name %> </li>
    <li class="form-control"> Family name: <%= user.familyName %> </li>
  </ul>

  <button class="btn btn-warning"><a href="/profile/edit">Edit</a></button> 