<h1 class="centered title"> Personal information </h1>

<ul class="list-group centered">
  <li class="list-group-item"> Username: <%= user.username %> </li>
  <li class="list-group-item"> Favorite foods: </li>
  <ul class="list-group">
    <% user.categories.forEach((category) => { %>
      <li class="list-group-item"><%= category %></li>
    <% }) %>
  </ul>
  <li class="list-group-item"> Address: <%= user.address %> </li>
</ul>

<button class="btn btn-warning center-block"><a href="/profile/edit">Edit</a></button>
