<% if (navScope === "") { %>
    <div class="col-xs-12 no-padding">
        <a class="menu-button" href="/auth/facebook"><img class="icon fb" src="/visual-assets/facebook-icon.png"></a>
    </div>
    
<% } else if (navScope === "events") { %>
    <div class="col-xs-3 no-padding">
        <a class="menu-button menu-new" href="/events/new"><img class="icon" src="/visual-assets/add-icon.png"></a>
    </div>
    <div class="col-xs-3 no-padding">
        <a class="menu-button menu-fav" href="/events/fav"><img class="icon" src="/visual-assets/fav-icon.png"></a>
    </div>
    <div class="col-xs-3 no-padding">
        <a class="menu-button menu-assist" href="/events/assist"><img class="icon" src="/visual-assets/assist-icon.png"></a>
    </div>
    <div class="col-xs-3 no-padding">
        <a class="menu-button menu-search" href="/events/search"><img class="icon" src="/visual-assets/search-icon.png"></a>
    </div>

<% } else if (navScope === "recipes") { %>  
    <div class="col-xs-4 no-padding">
        <a class="menu-button menu-new" href="/recipes/new"><img class="icon" src="/visual-assets/add-icon.png"></a>
    </div>
    <div class="col-xs-4 no-padding">
        <a class="menu-button menu-fav" href="/recipes/fav"><img class="icon" src="/visual-assets/fav-icon.png"></a>
    </div>
    <div class="col-xs-4 no-padding">
        <a class="menu-button menu-search" href="/recipes/search"><img class="icon" src="/visual-assets/search-icon.png"></a>
    </div>

<% } else if (navScope === "profile") { %>  
    <div class="col-xs-4 no-padding">
        <a class="menu-button menu-edit" href="/profile/edit"><img class="icon" src="/visual-assets/edit-icon.png"></a>
    </div>
    <div class="col-xs-4 no-padding">
        <a class="menu-button menu-home" href="/"><img class="icon" src="/visual-assets/home-icon.png"></a>
    </div>
    <div class="col-xs-4 no-padding">
        <a id="logout" class="menu-button menu-logout" href="/logout"><img class="icon" src="/visual-assets/logout-icon.png"></a>
    </div>
<% } %>