   <span><img class="events icon" src="/visual-assets/add-icon.png"></span>
   <span><img class="home icon" src="/visual-assets/fav-icon.png"></span>
   <span><img class="recipes icon" src="/visual-assets/search-icon.png"></span>
  