
<div class="col-xs-4 no-padding">
    <a class="menu-button"><img class="events icon" src="/visual-assets/add-icon.png"></a>
</div>
<div class="col-xs-4 no-padding">
    <a class="menu-button"><img class="home icon" src="/visual-assets/fav-icon.png"></a>
</div>
<div class="col-xs-4 no-padding">
    <a class="menu-button"><img class="recipes icon" src="/visual-assets/search-icon.png"></a>
</div>
  

