<span><img class="recipes icon" src="/visual-assets/recipes-icon.png"></span>
<span><img class="events icon" src="/visual-assets/events-icon.png"></span>
<span><img class="home icon" src="/visual-assets/home-icon.png"></span>
  