<span><a class="btn btn-primary" href="/recipe"><img class="recipes icon" src="/visual-assets/recipes-icon.png"></a></span>
<span><a class="btn btn-primary" href="/events"><img class="events icon" src="/visual-assets/events-icon.png"></a></span>
<span><a class="btn btn-primary" href="/profile"><img class="home icon" src="/visual-assets/home-icon.png"/></a></span>

  