<div class="col-xs-4 no-padding">
    <a class="nav-button" href="/recipe"><img class="recipes icon" src="/visual-assets/recipes-icon.png"></a>
</div>
<div class="col-xs-4 no-padding">
    <a class="nav-button" href="/events"><img class="events icon" src="/visual-assets/events-icon.png"></a>
</div>
<div class="col-xs-4 no-padding">
    <a class="nav-button" href="/profile"><img class="home icon" src="/visual-assets/home-icon.png"/></a>
</div>

  