<span><a href="/recipe"><img class="recipes icon" src="/visual-assets/recipes-icon.png"></a></span>
<span><img class="events icon" src="/visual-assets/events-icon.png"></span>
<span><a href="/profile"><img class="home icon" src="/visual-assets/home-icon.png"/></a></span>
  