<div class="col-xs-4 no-padding">
    <a class="nav-button recipes" href="/recipes"><img class="icon" src="/visual-assets/recipes-icon.png"></a>
</div>
<div class="col-xs-4 no-padding">
    <a class="nav-button events" href="/events"><img class="icon" src="/visual-assets/events-icon.png"></a>
</div>
<div class="col-xs-4 no-padding">
    <a class="nav-button profile" href="/profile"><img class="icon" src="/visual-assets/profile-icon.png"/></a>
</div>
  