<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Carrito fajitas</title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/jquery/dist/jquery.min.js" type="text/javascript"></script>
</head>

<body>
  <% include ../partials/menu %>
    <% include ../partials/navigator %>
      <%- body -%>
</body>

</html>