
 <div class="content">
  <div class="section first">
    <p class= "descp">Chicken Fajitas</p>
  <div class="section second">
    <p class= "descp">Burrito Burger</p>
</div>

<a class="btn btn-primary" href="/auth/facebook">Login With Facebook</a>
<a class="btn btn-primary" href="/profile">Your profile</a>

