body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
  background-color: red;
}

a {
  color: #00B7FF;
}

#screen {
  width: 300px;
  height: 200px;
  position: absolute;
  z-index: -1
}