/* General CSS */

body {
  font-family: 'Roboto', sans-serif;
  color: grey;
  font-size: 18px;
  font-weight: bold;
}

.glyphicon {
  color: #c83737;
}

h1 {
  color: #ffa532;
  font-size: 14px;
}


/* Modifications to Boostrap classes */

.list-group,
.list-group-item,
.container,
.container-fluid,
.form-group,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding: 0;
  margin: 0;
}

.list-group-item {
  background: white;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}


/* Common general classes */

.centered {
  float: none;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.no-padding {
  padding: 0;
  height: 100%;
}

.inside-list {
  padding: 5px 3px 5px 10px;
}

.icon {
  height: 5vh
}

.small-icon {
  height: 1em;
}

.message {
  box-sizing: border-box;
  color: #E16756;
  padding: 10px;
  border-radius: 5px;
}

.error {
  background: #d32;
}


/* Common ids */

#map {
  max-width: 100%;
  height: 400px;
}

#latitude,
#longitude {
  display: none;
}

#preview,
#img-detail {
  max-width: 100%;
}


/* common to menu and nav */

.menu-section,
.nav-section {
  text-align: center;
  height: 5vh;
}

.menu-button,
.nav-button {
  display: block;
  height: 100%;
}

.menu-button {
  background: #ffdd7e;
}

.nav-button {
  background: #ffba5a;
}


/* contents, in the middle */

.contents-section {
  margin: 5vh auto;
}

.home-container {
  position: relative;
  height: 90vh;
}

.home-content {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  background: linear-gradient(to bottom, #ffdd7e, #ffba5a);
}

.logo {
  margin: 15vh auto;
  width: 300px;
  height: 300px;
  z-index: 3;
}

.home-text {
  margin: 40vh auto;
  color: #E0260C;
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 992px) {
  .home-title {
    font-size: 5vw;
  }
}


/* menu, at the top */

.menu-fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
}

.menu-section {
  border-radius: 5px 5px 0px 0px;
}


/* nav bar at the bottom */

.nav-fixed {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
}


/* Particular classes that must step over general classes*/

.list-selected {
  background: #ffa532;
  color: white;
}

.list-hidden {
  display: none;
}

.menu-selected,
.nav-selected {
  background: #ffa532;
}

.btn {
  background-color: #c83737;
  border-color: white;
  border-width: 2px;
}

.fb {
  margin-top: 10px;
  height: 60px;
}

.clear-both {
  clear: both;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.sub-title {
  font-size: 18px;
  font-weight: bold;
}