<h1 class="centered title padd-it">Create new recipe</h1>

<form class="padd-it">
  <div class="form-group col-xs-6 col-md-4 col-centered centered">
    <input class="form-control" type="file" id="file-input" name="file-input">
    <p id="status">Please select a file</p>
    <img id="preview" src="/images/default.png">
    <input type="hidden" id="avatar-url" name="avatar-url" value="/images/default.png">
  </div>
</form>

<form action="/recipes" method="POST" class="padd-it">

  <input class="form-control" type="hidden" id="picturePath" name="picturePath" value="">

  <div class="form-group col-xs-10 centered">
    <label class="centered" for="name">Recipe name</label>
    <input class="form-control" type="text" id="name" name="name">
  </div>

  <div class="form-group col-xs-10 centered">
    <label class="centered" for="ingredients">Ingredients</label>
    <input class="form-control" type="text" id="ingredients" name="ingredients">
  </div>

  <div class="form-group col-xs-10 centered">
    <label class="centered" for="directions">Cooking directions</label>
    <textarea class="form-control" type="text" name="directions" id="directions"></textarea>
  </div>

  <div class="form-group col-xs-10 centered">
    <label class="centered" for="preparationTime">Preparation time (in hours)</label>
    <input class="form-control" type="number" step="any" name="preparationTime" id="preparationTime">
  </div>

  <div class="form-group col-xs-10 centered">
    <label class="centered" for="cookingTime">Cooking time (in hours)</label>
    <input class="form-control" type="number" step="any" name="cookingTime" id="cookingTime">
  </div>

  <div class="form-group col-xs-10 centered">
    <label class="centered" for="difficulty">Difficulty</label>
    <select class="form-control" type="number" name="difficulty" id="difficulty">
      <option value="1">Easy</option>
      <option value="2">Medium</option>
      <option value="3">Difficult</option>
    </select>
  </div>

  <div class="form-group col-xs-10 centered">
    <label class="centered" for="numberPeople">For how many people?</label>
    <input class="form-control" type="number" name="numberPeople" id="numberPeople">
  </div>

  <div class="form-group col-xs-10 centered">
    <label class="control-label" for="category">Food category</label>
    <select name="category" id="category" class="form-control">
      <% categories.forEach((category) => { %>
          <option type="text" value="<%= category %>">
            <%= category %>
          </option>
      <%  }) %>
    </select>
  </div>

 <button type="submit" class="btn btn-primary center-block">Create</button>

</form>