<% if (recipes.length === 0) { %>
<h1> you don-t have recipes, <a href="/recipe/new">Add your first recipe!</a></h1>
<% } else { %>
  <h1> this is the recipes layout when you have recipes!</h1>
<% } %>
